version: '3.6'
services:
  postgres:
    image: postgres:12
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: QsVjEk0u7vAO
    ports:
      - '5432:5432'
volumes:
  db_data:
